{{ define "content" }}
    {{ template "error" . }}

    <div class="row">
        <div class="span twelve">
            <p class="unread">{{ .NumberOfPosts }} unread items</p>
        </div>
    </div>
    <div class="row">
        <div class="span twelve">
        {{ range .Posts }}
            <div class="item">
                <h2 class="title"><a href="{{ .Item.Link }}">{{ .Item.Title }}</a></h2>
                <p><small class="feed">{{ .FeedTitle }}</small></p>
                <p class="clearfix"><small>{{ .Date }}</small></p>
                {{ if .Item.Content }}
                {{ noescape .Item.Content }}
                {{ else }}
                {{ noescape .Item.Summary }}
                {{ end }}
            </div>
        {{ end }}
        </div>
    </div>
    {{ if ne .NumberOfPosts 0 }}
    <div class="row">
        <div class="span twelve">
            <p><a href="/allread?id={{ .LastId }}"><button class="button primary small">Mark all as read</button></a></p>
        </div>
    </div>
    {{ end }}
{{ end }}
