{{ define "content" }}
    {{ template "error" . }}

    <div class="row">
        <div class="span twelve">
        {{ range .Posts }}
            <div class="item">
                <h4><a href="{{ .Item.Link }}">{{ .Item.Title }}</a></h4>
                {{ noescape .Item.Summary }}
                <p><small class="feed">{{ .FeedTitle }}</small></p>
            </div>
        {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="span twelve">
            <p><a href="/allread?id={{ .LastId }}"><button class="button primary small">Mark all as read</button></a></p>
        </div>
    </div>
{{ end }}
